# MySQL配置文件mysqld.cnf

# 客户端配置
[client]
# 客户端连接端口，默认3306
port = 3306
# 本地通信使用的套接字文件路径
socket = /var/lib/mysql/mysql.sock
# 客户端默认字符集
default-character-set = utf8mb4

# 服务器基础配置
[mysqld]
# 服务监听端口，默认3306
port = 3306
# 数据文件存储目录
datadir = /var/lib/mysql
# 服务端套接字文件路径
socket = /var/lib/mysql/mysql.sock
# 进程ID文件路径
pid-file = /var/lib/mysql/mysql.pid
user = mysql

# 存储引擎配置（InnoDB）
# InnoDB缓冲池大小（建议为物理内存的70%~80%）
innodb_buffer_pool_size = 512M

# 决定 InnoDB 每个表的数据和索引是存于共享表空间（OFF），还是各自独立的文件中(NO)，默认值：NO
innodb_file_per_table = OFF
# 控制 InnoDB 将数据和日志刷新到磁盘的方式，默认值：fsync
# O_DIRECT：使用 open() 系统调用时指定 O_DIRECT 标志来打开文件，它绕过了操作系统的缓存，直接将数据写入磁盘。这种方式可以减少数据在操作系统缓存中的拷贝次数，提高写入性能。
innodb_flush_method = O_DIRECT

# 其他
# 内存临时表的最大大小
# temp_table_size = 32M
max_heap_table_size = 32M
# 最大并发连接数
max_connections = 200
# 线程缓存数（减少线程创建开销）          
thread_cache_size = 2
# 缓存表的数量        
table_open_cache = 10
# 文件描述符的最大数量
open_files_limit = 65535

# 开启binlog日志
log_bin = NO
# 指定binlog日志文件的前缀和存储路径
log-bin = /var/log/mysql/mysql-bin
# 设置二进制日志的格式，可选择 STATEMENT、ROW 或 MIXED
binlog_format = MIXED
# redo log 缓冲区的大小，用于临时存储 redo log 信息
innodb_log_buffer_size = 8M
# redo log 占用的磁盘空间量
innodb_redo_log_capacity = 256M

# 为服务器设置一个唯一的 ID，用于主从复制等场景
server-id = 1